<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/chitiet.css">
    <link rel="stylesheet" href="/assets/css/sanpham.css">

</head>
<body>
  <div class="container">
    <!-- <app-client-header></app-client-header> -->
    <app-client-header></app-client-header>
    <main>
        <!-- <router-outlet></router-outlet> -->
        <app-client-main></app-client-main>
    </main>
    <app-client-footer></app-client-footer>
</div>
</body>

