<style>
    .box_content {
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin: auto;

    }

    .box_content img {
        border-radius: 50%;

    }

    .box_content .box_text {
        padding-left: 30px;
        padding-top: 40px;
        font-size: 20px;     border: 5px solid rgb(0, 0, 0);
         border-radius: 20px;
    }
    .box_text h3{
        font-size: 30px;
        margin-left: 40px;
    }

</style>
<a routerLink="/admin/products">
  <div class="box_content">

    <div class="box_text"><img src="./../../../../assets/img/account-icon-5 copy.jpg" alt="" width="50%">
        <h3>Product</h3>
    </div>
</div>
</a>
<nav>
    <a routerLink="/admin/categories">
      <div class="box_content">
        <div class="box_text">
            <h3>Category</h3>
        </div>
    </div>
    </a>
    <a routerLink="/admin/orders">
      <div class="box_content">
        <div class="box_text">
            <h3>Order</h3>
        </div>
    </div>
    </a>
    <a routerLink="/admin/users">
      <div class="box_content">
        <div class="box_text">
            <h3>User</h3>
        </div>
    </div>
    </a>
</nav>

